body, html {
  background: #254A70;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #254A70), color-stop(1, #2E5E8D));
  background-image: -o-linear-gradient(bottom, #254A70 0%, #2E5E8D 100%);
  background-image: -moz-linear-gradient(bottom, #254A70 0%, #2E5E8D 100%);
  background-image: -webkit-linear-gradient(bottom, #254A70 0%, #2E5E8D 100%);
  background-image: -ms-linear-gradient(bottom, #254A70 0%, #2E5E8D 100%);
  background-image: linear-gradient(to bottom, #254A70 0%, #2E5E8D 100%);
}

html {
  height: 100%;
  background-repeat: no-repeat;
}

#alert {
	color: red;
}